In [1]:
Name = "Shwetha Shetty"

In [2]:
print(name[0])

NameError: name 'name' is not defined

In [3]:
print(Name[0])

S

In [4]:
print(Name[10])

e

In [5]:
print(Name[-7])

In [6]:
print(Name[-8])

a

In [7]:
len(Name)

14

## Slicing

In [8]:
Name[0:6]

'Shweth'

In [9]:
Name[9:14]

'hetty'

# Stride

In [10]:
#get every second element
Name[::2]

'SwtaSet'

In [11]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Swt'

In [12]:
# Concatenate two strings
Full name = Name +"Belthangady"
print(Full name)

SyntaxError: invalid syntax (<ipython-input-12-ed2ef8298ede>, line 2)

In [13]:
Fullname = Name+"Belthangady"

In [14]:
print(Fullname)

Shwetha ShettyBelthangady

In [15]:
# Print the string for 3 times
3*"Shwetha"

'ShwethaShwethaShwetha'

# Escape Sequences

In [16]:
# New line escape sequence
print("Shwetha \n Belthangady \n Shetty")

Shwetha
 Belthangady
 Shetty

In [17]:
# Tab escape sequence
print("Shwetha \t Shetty")

Shwetha 	 Shetty

In [18]:
# Include back slash in string
print("Shwetha \\ Shetty")

Shwetha \ Shetty

In [19]:
# r will tell python that string will be display as raw string
print(r"Shwetha \ Shetty")

Shwetha \ Shetty

# String Operations

In [20]:
# Convert all the characters in string to upper case
a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [21]:
a = shwetha shetty
print(a.upper)

SyntaxError: invalid syntax (<ipython-input-21-078f2a5ab55d>, line 1)

In [22]:
print(a.upper())

THRILLER IS THE SIXTH STUDIO ALBUM

In [23]:
d= shwetha shetty
e = d.upper
print(e)

SyntaxError: invalid syntax (<ipython-input-23-c28702658de6>, line 1)

In [24]:
d= shwetha shetty
e = d.upper()
print(e)

SyntaxError: invalid syntax (<ipython-input-24-cd8f4e837e46>, line 1)

In [25]:
d = shwetha shetty
e = d.upper()
print(e)

SyntaxError: invalid syntax (<ipython-input-25-6051f9cfa569>, line 1)

In [26]:
d = "shwetha shetty"
e = d.upper()
print(e)

SHWETHA SHETTY

In [28]:
# Replace the old substring with the new target substring is the segment has been found in the string
f =e.replace('SHETTY', 'Nayak')
f

'SHWETHA Nayak'

In [29]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output
d.find('et')

3

In [30]:
# Find the substring in the string.
d.find('shetty')

8